# Project-specific files and directories
*.pptx
*.ppt
*.pdf
villager_images/
adjusted_pptx/
image_paths.csv
villager_image_urls.json
villager_images/

# Image files
*.jpg
*.jpeg
*.png
*.gif
*.bmp
*.svg

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.python-version

# IDE specific files
.idea/
.vscode/
*.swp
*.swo
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

# Poetry
poetry.lock
dist/

# Coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover